<div class="bg-white">
   <%=
      render BreadcrumbComponent.new(current_user,[
        { text: "Purchase", url: marketplace_purchases_path }
      ])
    %>
  <main>
    <section aria-labelledby="category-heading" class="py-16 sm:py-16 xl:mx-auto xl:max-w-7xl xl:px-8">
      <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0 mb-4">
        <h2 id="category-heading" class="text-2xl font-bold tracking-tight text-gray-900">Purchased Products</h2>
      </div>
      <div>
         <h2>If you believe that a product that you have purchased is fraudulent or doesn't provide value, you have a week to report it and get a refund. To send a refund request click the three dots in the top corner of the product and click "refund" and follow the form. We will get right back to you and let you know if we approve a refund on the product.</h2>
      </div>
      <div class="mt-4 flow-root">
        <div class="-my-2">
          <div class="relative box-content overflow-x-auto py-2 xl:overflow-visible">
            <div class="absolute flex space-x-8 px-4 sm:px-6 lg:px-8 xl:relative xl:grid xl:grid-cols-5 xl:gap-x-8 xl:space-x-0 xl:px-0">
              <%= render partial: "home/product", collection: @products %>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <%= render 'kaminari/tailwind/paginator', paginator: @products %>
      </div>
    </section>
  </main>
</div>
