<div class="bg-white">
   <%=
      render BreadcrumbComponent.new(current_user,[
        { text: "Purchase", url: marketplace_purchases_path }
      ])
    %>
  <main>
    <section aria-labelledby="category-heading" class="py-16 sm:py-16 xl:mx-auto xl:max-w-7xl xl:px-8">
      <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0 mb-4">
        <h2 id="category-heading" class="text-2xl font-bold tracking-tight text-gray-900">Purchased Products</h2>
      </div>
      <div>
         <h2>If you believe that a product that you have purchased is fraudulent or doesn't provide value, you have a week to report it and get a refund. To send a refund request email us at cody@gitlocker.com with a screenshot of your order on Stripe and the exact name of the product you purchased. We will decide if it appropriate to offer a refund or not.</h2>
      </div>
      <div class="mt-4 flow-root">
        <div class="-my-2">
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5">
              <% if @products.any? %>
                <%= render partial: "home/product", collection: @products %>
              <% else %>
                <p class="text-center text-gray-600">No products found.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <%= render 'kaminari/tailwind/paginator', paginator: @products %>
      </div>
    </section>
  </main>
</div>
