<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div
  class="bg-gray-50"
  data-controller="checkout"
>
  <div class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Checkout</h2>

    <div class="lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16">
      <!-- Order summary -->
      <div class="col-span-1 mt-10 lg:mt-0">
        <h2 class="text-lg font-medium text-gray-900">Order summary</h2>

        <div class="mt-4 rounded-lg border border-gray-200 bg-white shadow-sm">
          <h3 class="sr-only">Items in your cart</h3>
          <ul role="list" class="divide-y divide-gray-200">
            <%= render partial: "checkout/cart_item", collection: @cart_items, as: :cart_item %>
          </ul>
        </div>
      </div>

      <div class="col-span-1">
        <!-- Payment -->
        <h2 class="text-lg font-medium text-gray-900">Payment</h2>

        <div class="mt-6">
          <%= stripe_elements_tag submit_path: checkout_path %>
        </div>
      </div>
    </div>
  </div>
</div>
