<div
  data-controller="search-dialog"
  class="relative z-10 hidden"
  aria-labelledby="modal-title"
  id="search-dialog"
  role="dialog"
  aria-modal="true"
>
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div
    class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    data-transition-enter="transition ease-out duration-300"
    data-transition-enter-start="transform opacity-0"
    data-transition-enter-end="transform opacity-100"
    data-transition-leave="transition ease-in duration-200"
    data-transition-leave-start="transform opacity-100"
    data-transition-leave-end="transform opacity-0"
  ></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-start justify-center p-4 text-center sm:items-start sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div
        class="relative transform overflow-hidden rounded-lg text-left transition-all max-w-3xl sm:my-16 sm:w-full"
        data-search-dialog-target="container"
        data-transition-enter="transition ease-out duration-300"
        data-transition-enter-start="transform opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        data-transition-enter-end="transform opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave="transition ease-in duration-200"
        data-transition-leave-start="transform opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave-end="transform opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      >
        <div>
          <div class="relative rounded-md shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>
            </div>
            <input
              type="text"
              class="block w-full rounded-md border-0 py-3 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
