<div class="relative flex items-start">
  <div class="flex h-6 items-center">
    <%= check_box_tag "product_ids[]", value: product.id, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
  </div>
  <div class="ml-3 text-sm leading-6">
    <label for="products_name" class="font-medium text-gray-900"><%= product.name %></label>
    <p id="products-description" class="text-gray-500"><%= product.description %></p>
  </div>
</div>
