<%= link_to marketplace_creator_path(creator.id), class: "relative flex h-32 flex-col overflow-hidden rounded-lg p-6 hover:opacity-75 md:w-56 lg:w-64 xl:w-auto" do %>
  <span aria-hidden="true" class="absolute inset-0">
    <% if creator.profile_picture.attached? %>
      <%= image_tag creator.profile_picture, class: "h-full w-full object-cover object-center" %>
    <% else %>
      <%= image_tag "profile_placeholder.png", class: "h-full w-full object-cover object-center", style: "object-fit: inherit;" %>
    <% end %>
  </span>
  <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-2/3 bg-gradient-to-t from-gray-800 opacity-50"></span>
  <span class="relative mt-auto text-center text-xl font-bold text-white"><%= creator.username %></span>
<% end %>
