<%= link_to marketplace_language_path(language.slug), class: "relative aspect-square border border-black rounded hover:shadow-[0px_20px_20px_15px_#1a202c] hover:scale-105" do %>
  <%= image_tag "languages/#{language.image_name}", class: "h-full w-full aspect-square object-cover object-center rounded" %>
  <div class="absolute rounded-b bottom-0 flex items-center right-0 left-0 bg-gradient-to-b from-transparent to-gray-300 ">
    <div class="bg-white rounded-3xl flex items-center">
    <p class="p-3 w-full text-center text-sm font-bold font-mono text-black"><%= language.name %></p>
    </div>
  </div>
<% end %>
