<div class="pt-16 sm:pt-16 xl:mx-auto xl:px-8 bg-gradient-to-r from-blue-700 to-orange-500" style=" min-height: 34.46rem";>
  <h1 class="text-3xl underline font-mono">Contact Info:</h1>
  <p>Please contact <%= mail_to "cody@gitlocker.com", class: "text-black" %> if you have any questions, concerns, issues, tips, or guest post inquiries. We charge $200 per guest post. The guest posts must be related to coding or software and are subject for review by our team. If any content posted on our website violates any licenses that you have on your products please shoot us an email and we will have those products removed.</p>
</div>
