<% content_for :meta_title, "GitLocker Refund Policy" %>
<% content_for :meta_description,  "GitLocker Refund Policy" %>
<div class="pt-16 sm:pt-16 xl:mx-auto xl:max-w-7xl xl:px-8"style=" min-height: 34.46rem";>
  <div name="termly-embed" data-id="f033b018-07d0-429d-89d8-bf3e5c2b732c"></div>
  <script type="text/javascript">(function(d, s, id) {
    var js, tjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://app.termly.io/embed-policy.min.js";
    tjs.parentNode.insertBefore(js, tjs);
  }(document, 'script', 'termly-jssdk'));</script>
</div>
