 <section aria-labelledby="category-heading" class="pt-16 pb-24 sm:pt-16 xl:mx-auto xl:max-w-7xl xl:px-8">
  <div class="mt-4 space-y-4">
    <div class="-my-2">
      <div class="relative py-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
          <%= render partial: "home/language", collection: @languages %>
        </div>
      </div>
    </div>
  </div>
</section>  
