<!-- app/views/notifications/_notification.html.erb -->
<div class="p-4 bg-white shadow-md rounded-lg mb-4">
  <h2 class="text-lg font-semibold mb-2"><%= notification.type %></h2>
        <% if notification&.params && notification.params["message"] %>
  
  <p class="text-gray-600"><%= notification.params['message'] %></p>
  <% end %>
  <p class="text-sm text-gray-500 mt-2"><%= notification.created_at.strftime('%b %d, %Y %H:%M') %></p>
</div>
