<!-- app/views/notifications/index.html.erb -->
<div class="container mx-auto mt-8">
  <h1 class="text-2xl font-semibold mb-4">Notifications</h1>
  <% @notifications.each do |notification| %>
    <%= render partial: 'notification', locals: { notification: notification } %>
  <% end %>
</div>
