<div class="bg-slate-200">
  <%= render BreadcrumbComponent.new(current_user, [{ text: "Popular", url: marketplace_browse_popular_path }]) %>
  <main>
    <section aria-labelledby="category-heading" class="py-6 sm:py-8 xl:py-8 xl:mx-auto xl:max-w-7xl xl:px-8">
      <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0 mb-4">
        <h2 id="category-heading" class="text-xl sm:text-2xl font-bold tracking-tight text-gray-900">Browse By Popular Repositories</h2>
      </div>
      <div class="px-4 sm:px-6 lg:px-8 xl:px-0">
        <p class="text-sm sm:text-base text-gray-700">This is all of our products listed in order of how many likes they have received. In other words, this is a list of products from most popular to least popular.</p>
      </div>

      <%= render partial: 'shared/filters' %>

      <% if @products.count > 0 %>
        <div class="mt-10 flow-root">
          <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-8 px-4 sm:px-6 lg:px-8 xl:px-0 ">
            <%= render partial: "home/product", collection: @products %>
          </div>
        </div>
      <% else %>
        <p class="py-24 text-center text-gray-600">No products found.</p>
      <% end %>
      <div class="mt-8 px-4 sm:px-6 lg:px-8">
        <%= render 'kaminari/tailwind/paginator', paginator: @products %>
      </div>
    </section>
  </main>
</div>
