<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:pt-32 lg:px-8 lg:py-40">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      <div class="lg:col-span-5">
        <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Frequently asked questions</h2>
        <p class="mt-4 text-base leading-7 text-gray-600">Can’t find the answer you’re looking for? Reach out to our support team at cody@gitlocker.com.</p>
      </div>
      <div class="mt-10 lg:col-span-7 lg:mt-0">
        <dl class="space-y-10">
          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">How do I get started buying and selling code on the marketplace?</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">In order to buy and sell code on the marketplace all you need to do is make an account with GitLocker using your GitHub account. From there, in order to buy a product just browse through the marketplace to find a product you want and then when you find a product you like click add to cart and then checkout. In order to sell, you need to click "add product" in the dropdown menu when you click on your user icon in the navigation bar. Follow the instructions on the "add product" page.</dd>
          </div>
          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">What kind of repositories can I sell?</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">You can sell any private GitHub repository that is currently in your GitHub account.</dd>
          </div>
           <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">How much do I get to keep on my sales in the marketplace?</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">You get to keep 90% of your sales.</dd>
          </div>
           <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">How many products can I list on the marketplace?</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Unlimited</dd>
          </div>
           <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">How do I get paid in the marketplace?</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Go to the "Get Paid" section in the dropdown menu when you click on your user icon in the navigation bar and wait a week per sale before your funds become available to withdraw via Stripe.</dd>
          </div>
         
          
         

          <!-- More questions... -->
        </dl>
      </div>
    </div>
  </div>
</div>
