<%= link_to marketplace_library_path(product), class: "relative flex flex-col overflow-hidden rounded-lg p-6 hover:opacity-75 h-80 w-56 xl:w-72" do %>
  <span aria-hidden="true" class="absolute inset-0">
    <% if product.covers.exists? %>
      <%= image_tag product.covers.first, class: "h-full w-full object-cover object-center" %>
    <% else %>
      <%= image_tag "default-cover.png", class: "h-full w-full object-cover object-center" %>
    <% end %>
  </span>
  <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-2/3 bg-gradient-to-t from-gray-800 opacity-50"></span>
  <span class="relative mt-auto text-center text-xl font-bold text-white truncate" style="max-height: 3.6rem;"><%= product.name %></span>
<% end %>
