<%=
  render BreadcrumbComponent.new(current_user,[
    { text: "Products", url: products_path }
  ])
%>
<main class="pb-4 pt-6 sm:pb-6 bg-gradient-to-r from-blue-700 to-orange-500">
  <div class="space-y-16 xl:space-y-20">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <!-- app/views/products/index.html.erb -->
        <div class="flex items-center justify-between">
          <h1 class="font-semibold text-3xl underline font-mono leading-7 text-black">My Products</h2>
        </div>
        <div data-controller="search" class="mt-2">
          <input type="text" placeholder="Search Products" data-search-target="input" data-action="input->search#query">


        <ul role="list" class="mt-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-8 px-0 sm:px-6 lg:px-8 xl:px-0 ">
          <div id="search-results" >
          <%= render @products %>
            
          </div>
        </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <%= render 'kaminari/tailwind/paginator', paginator: @products %>
  </div>
</main>
