<%=
  render BreadcrumbComponent.new(current_user,[
    { text: "Products", url: products_path }
  ])
%>
<main class="pb-4 pt-6 sm:pb-6 bg-slate-400">
  <div class="space-y-16 xl:space-y-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <div class="flex items-center justify-between">
          <h2 class="text-base font-semibold leading-7 text-gray-900">My Products</h2>
        </div>
        <ul role="list" class="mt-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-8 px-4 sm:px-6 lg:px-8 xl:px-0 ">
          <%= render @products %>
        </ul>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <%= render 'kaminari/tailwind/paginator', paginator: @products %>
  </div>
</main>
