<%=
  render BreadcrumbComponent.new(current_user,[
    { text: "New Product", url: new_product_path }
  ])
%>
<div class="mx-auto w-full">
  <div id="upload-form-container">
    <%= render partial: 'new_form' %>
  </div>
</div>
<script type="text/javascript">
</script>